/* components/Header.module.css */
.header {
    display: flex;
    align-items: center;
    background-color: #141414;
    padding: 20px;
    font-family: 'Copperplate', fantasy;
    color: #fff;
    margin-bottom: 50px;
  }
  
  .header nav {
    margin-left: auto;
  }
  
  .header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .header nav a:hover {
    text-decoration: underline;
  }
  